/* Use 3 types of units: px, %, vw */
/* You must use z-index and hierarchical selectors in the code */
/* Use common shorthands where applicable. */


.artworkSection {
    display: grid;
    /* fr (fractional unit) is the siz of the rows or columns*/

    /* Sets how many and the size of the grid columns*/
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* Sets how many and the size of the grid columns */
    /* grid-template-rows: 1fr 3fr 15px; */
    /* Sets the spacing between columns */
    /* column-gap: 1em; */
    /* Set the spacing between rows */
    /* row-gap: 1em; */
    background-color: beige;
    border: 3px solid;
    width: 500px;
    height: 300px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
}

#pic1 {
    background-color: skyblue;
    margin-right: 1mm;
}

#pic2 {
    background-color: skyblue;
    margin-right: 1mm;
}

#pic3 {
    background-color: skyblue;
}

#pic4 {
    background-color: darkblue;
    margin-top: .1in;
}

.triangle1 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid darkolivegreen;
    position: absolute;
    top: 113px;
    left: 310px;
    z-index: 2;
}

.triangle2 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 250px solid green;
    position: fixed;
    top: 63px;
    left: 250px;
    z-index: 1;
}

.circle1 {
    height: 75px;
    width: 75px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}

#formSection {
    text-align: center;
}